html, body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  /*font-family: 'Playfair Display', serif;/*
  /*color: darkslategray;*/
  /*color: dodgerblue;*/
  /*color: cadetblue;*/
  /*color: steelblue;*/
  color: deeppink;
  background-color: white;
}

.bg {
  background-image: url(images/tree.jpg);
  height: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2 {
  text-align: left;
  margin-top: 0;
  /* text-shadow: 2px 4px 3px rgba(0,0,0,0.4),
               4px 8px 13px rgba(0,0,0,0.1),
               9px 18px 23px rgba(0,0,0,0.1); */
}

h1 {
  margin-bottom: 0em;
  font-size: 4em;
  line-height: 1;
}

h2 {
  font-size: 2em;
}

hr {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: cadetblue;
  border: none;
}

.title {
  position: absolute;
  top: 35%;
  left: 25%;
  width: 50%;
  animation: fadein 1.3s;
  -moz-animation: fadein 1.3s; /* Firefox */
  -webkit-animation: fadein 1.3s; /* Safari and Chrome */
  -o-animation: fadein 1.3s; /* Opera */
}

.intro-para {
  position: relative;
  text-align: right;
  font-size: 1em;
  width: 50%;
  float: right;
}

.container {
  width: 100%;
  text-align: center;
}

.card {
  vertical-align: top;
  display: inline-block;
  margin: 48px;
  width: 200px;
  height: 300px;
  font-family: 'Playfair Display', serif;
  background-color: white;
  border: 1px solid darkslategray;
  -webkit-box-shadow: 5px 10px 5px 0px rgba(105,105,105,1);
  -moz-box-shadow: 5px 10px 5px 0px rgba(105,105,105,1);
  box-shadow: 5px 10px 5px 0px rgba(105,105,105,1);
}

.card img {
  width: 200px;
  height: 133px;
}

.card h3 {
  font-size: 1.5em;
  text-align: center;
  color: black;
}

.card p {
  margin: 10px;
  text-align: left;
  color: black;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 0.9em;
}

.my-button {
	background-color: deeppink;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border: none;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
.my-button:hover {
	background-color: hotpink;
}
.my-button:active {
	position:relative;
	top:1px;
}

/* TODO: Add fadein for second h2 */
@keyframes fadein {
  from {
    top: 50%;
    opacity: 0;
  }

  to {
    top: 35%;
    opacity: 1;
  }
}

@media only screen and (max-width: 800px) {
    .title {
      width: 66%;
    }
    .intro-para {
      width: 50%;
    }
}
